.view-product-image img {
  height: 100px;
  width: 100px;
  padding: 10px;
  border: 1px solid #8f69e1;
  border-radius: 10px;
}
.view-product-area input {
  border: 1px solid #8f69e1;
}
.view-product-area button {
  background-color: #23b7e5;
  color: white;
  border: none;
}
.view-product-area button:hover {
  background-color: #8f69e1;
  color: white;
  border: none;
}
