.product-area .add-brand-button {
  display: none;
}
.product-area .add-category-button {
  display: none;
}
.product-area .view-brand {
  display: none;
}
.product-area .view-category {
  display: none;
}
.product-area .th7 {
  display: none;
}
.product-area .td8 {
  display: none;
}
