.orders-top button {
  border: none;
  background-color: #23b7e5;
  color: white;
}
.order-search {
  position: relative;
}
.search {
  position: absolute;
  left: 10px;
}
.order-drop-button {
  position: relative;
}
.order-drop-button .drop-icon {
  position: absolute;
  top: 2px;
  right: 10px;
}
.order-drop-button select {
  box-shadow: none !important;
  border: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 5px 30px 5px 15px;
  font-size: 15px;
  background-color: #8f69e1;
  border-radius: 6px;
  color: white;
}
.order-drop-button option {
  font-size: 13px;
}
.order-table-zone {
  overflow-x: auto;
}
.order-table-zone tr {
  height: 60px;
  border-bottom: 1px solid #8f69e1;
}
.page-link {
  height: 40px;
}
.pagi-list li {
  color: #23b7e5;
  cursor: pointer;
  background-color: #ffffff;
  margin-right: 10px;
}
.pagi-list li:first-child {
  background-color: #8f69e1;
  color: white;
}
.pagi-list li:first-child:hover {
  background-color: #23b7e5;
}
.pagi-list li:last-child {
  background-color: #8f69e1;
  color: white;
}
.pagi-list li:last-child:hover {
  background-color: #23b7e5;
}
.pagi-list li:hover {
  background-color: #23b7e5;
  color: #ffffff;
}
.active-page {
  background-color: #23b7e5 !important;
  color: #ffffff !important;
}
.show-button {
  cursor: pointer;
}
