.crm-div {
  margin-top: 30px;
  z-index: 1;
}

.crm-area {
  padding: 0 30px;
}
.crm-intro-text h3 {
  font-size: 1.125rem;
  font-weight: 600;
}
.crm-intro-text p {
  font-size: 13px;
  font-weight: 400;
}
.filter-button {
  background-color: #8f69e1;
  border: none;
  color: #ffffff;
  font-size: 0.85rem;
}
.filter-button:hover {
  background-color: #af8ef4;
}
.export-button {
  background-color: transparent;
  border: 1px solid #23b7e5;
  color: #23b7e5;
  font-size: 0.85rem;
}
.export-button:hover {
  background-color: #23b7e5;
  color: #ffffff;
}
.card {
  width: 100%;
  padding: 1.25rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0 rgba(10, 10, 10, 0.04);
  margin-bottom: 24px;
  z-index: 20;
  min-height: 150px;
}
.special-card {
  max-height: 150px;
}

.total-earnings {
  position: relative;
}
.total-earnings .special-text {
  display: block !important;
}
.total-earnings::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(../../images/targetbg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  left: 0;
  top: 0;
  opacity: 0.2;
  z-index: -1;
}
.total-earnings .basic-bottom-left i {
  display: none;
}
/* .total-earnings h5 {
  color: #ffffff !important;
  font-size: 1.135rem !important;
  font-weight: 600;
}
.total-earnings h4 {
  color: #ffffff !important;
  font-size: 1rem;
}
.total-earnings p {
  color: #ffffff !important;
  font-size: 0.75rem;
}
.total-earnings a {
  color: #ffffff !important;
  text-decoration: underline !important;
  padding-top: 10px;
  font-weight: 600;
  font-size: 0.813rem;
} */

.card-heading {
  position: relative;
}
.card-heading::before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 0.23rem;
  border-radius: 0.5rem;
  top: 0;
  left: -12px;
  background: linear-gradient(
    to bottom,
    rgba(132, 90, 223, 0.5) 50%,
    rgba(35, 183, 229, 0.5) 50%
  );
}
.total-earnings .card-icon i {
  background-color: #26bf94;
}
.total-brands .card-icon i {
  background-color: #f5b849;
}
.total-coupons .card-icon i {
  background-color: #3a28dc;
}

.total-products .card-icon i {
  background-color: rgb(254, 64, 95);
}
.total-orders .card-icon i {
  background-color: #68b425;
}
.total-notifications .card-icon i {
  background-color: #68b425;
}
.total-carts .card-icon i {
  background-color: #f5b849;
}
.total-users {
  z-index: 1;
}
.total-users .card-icon i {
  background-color: #9477e1;
}
.total-earnings .basic-bottom-right p {
  color: #e6533c;
}
.crm-revenue-stats {
  z-index: 1;
}
.total-categories .card-icon i {
  background-color: #23b7e5;
}
.dealer-contact span {
  font-size: 0.75rem;
}
.total-brands .brands {
  display: block !important;
}
.total-coupons .coupons {
  display: block !important;
}
.total-products .products {
  display: block !important;
}
.total-categories .categories {
  display: block !important;
}
.total-orders .orders {
  display: block !important;
}
.total-users .users {
  display: block !important;
}
.total-notifications .notifications {
  display: block !important;
}
.total-carts .carts {
  display: block !important;
}

.top-deal-top {
  padding: 1rem 1.25rem;
  border-radius: 0.625rem 0.625rem 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}
.top-special-top {
  padding: 10px 0;
  border-radius: 0.625rem 0.625rem 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.top-special-top h5 {
  font-size: 0.9375rem;
  font-weight: 600;
}
.deal-drop-items {
  position: absolute;
  background-color: #fff;
  width: 50%;
  z-index: 99;
}
.deal-drop-items li {
  color: #333335;
  white-space: unset;
  padding: 0.5rem 0.9375rem;
  font-size: 0.8215rem;
  font-weight: 500;
}
.top-deal-bottom {
  padding: 1.25rem 0;
}
.top-deal-bottom li {
  margin-block-end: 0.9rem;
}
.top-deal-bottom li:last-child {
  margin-block-end: 0rem;
}
.dealer-image img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
.dealer-contact p {
  font-size: 0.813rem;
  font-weight: 600;
  color: #333335;
}
.deal-amount {
  font-weight: 600;
}
.chart-container {
  min-height: 345px;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
canvas {
  min-height: 140px;
}
.crm-revenue-stats p {
  font-size: 0.8123rem;
}
.stats-input {
  font-size: 0.8rem;
  padding: 0.25rem 0.8rem;
}
.crm-stats-btn button {
  background-color: #8f69e1 !important;
  color: #fff !important;
  border: 1px solid #8f69e1;
  font-size: 0.8rem;
}
.crm-stats-body td {
  font-size: 0.8523rem;
  font-weight: 500;
}
.crm-leads canvas {
  height: 18rem !important;
  width: auto;
}
@media (max-width: 991px) {
  .crm-intro {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .crm-stats-header {
    flex-direction: column;
  }
  .stats-search-sort {
    flex-direction: column;
  }
  .stats-search {
    margin-bottom: 10px;
  }
  .chart-container {
    min-height: 150px;
  }
}
