.brand-area .add-product-button {
  display: none;
}
.brand-area .add-category-button {
  display: none;
}
.brand-area .view-product {
  display: none;
}
.brand-area .view-category {
  display: none;
}
.brand-area .td3 {
  display: none;
}
.brand-area .td5 {
  display: none;
}
.brand-area .td6 {
  display: none;
}
.brand-area .td7 {
  display: none;
}
.brand-area .td8 {
  display: none;
}

.brand-area .th3 {
  display: none;
}
.brand-area .th5 {
  display: none;
}
.brand-area .th6 {
  display: none;
}
.brand-area .th7 {
  display: none;
}
.brand-area .th9 {
  display: none;
}
