.brand-area .add-product-button {
  display: none;
}
.brand-area .add-category-button {
  display: none;
}
.brand-area .view-product {
  display: none;
}
.brand-area .view-category {
  display: none;
}
