.add-notification-area {
  min-height: 100vh;
}
.add-notification-area button {
  background-color: #23b7e5;
  color: white;
  border: none;
}
.add-notification-area button:hover {
  background-color: #8f69e1;
  color: white;
}
