.category-area .order-drop {
  display: none;
}
.category-area .add-brand-button {
  display: none;
}
.category-area .add-product-button {
  display: none;
}
.category-area .view-product {
  display: none;
}
.category-area .view-brand {
  display: none;
}
