.category-area .order-drop {
  display: none;
}
.category-area .add-brand-button {
  display: none;
}
.category-area .add-product-button {
  display: none;
}
.category-area .view-product {
  display: none;
}
.category-area .view-brand {
  display: none;
}
.category-area .th6 {
  display: none;
}
.category-area .th7 {
  display: none;
}
.category-area .th8 {
  display: none;
}
.category-area .td6 {
  display: none;
}
.category-area .td7 {
  display: none;
}
.category-area .td8 {
  display: none;
}
