.header-div {
  position: fixed;
  z-index: 99;
  width: calc(100% - 75.24px);
  top: 0;
}
.header-area {
  padding: 13px 30px;
  min-height: 60px;
}
.bars {
  cursor: pointer;
}
.header-content-right {
  color: #536485;
}
.header-content-right i {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1rem;
  transition: all ease 50ms;
  padding: 0.25rem;
  border-radius: 50%;
  cursor: pointer;
}
.header-content-right i:hover {
  background-color: #f3f6f8;
}
.country-drop {
  border-radius: 20px;
  cursor: pointer;
}
.theme-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}
.screen-button {
  text-decoration: none;
  border: none;
  background: none;
}
.header-profile {
  cursor: pointer;
}
.profile-heading {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0 !important;
  color: #536485;
}
.header-profile-image img {
  height: 30px;
  margin-right: 5px;
  position: relative;
}
.profile-list {
  position: absolute;
  list-style: none;
  top: 50px;
  border: 1px solid #b9c2d4;
  border-radius: 5px;
}
.profile-list-item {
  font-size: 13px;
}

.settings-button {
  width: 20px;
  height: 20px;
  animation: rotatelogo 5s linear infinite;
  cursor: pointer;
}
@keyframes rotatelogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 991) {
  .header-div {
    width: 100% !important;
  }
}
