.header-area {
  padding: 13px 0;
  background-color: #ffffff;
}
.header-content-right {
  color: #536485;
}
.header-content-right i {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1rem;
  transition: all ease 50ms;
  padding: 0.25rem;
  border-radius: 50%;
}

.country-drop {
  border-radius: 20px;
  cursor: pointer;
}
.theme-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}
.screen-button {
  text-decoration: none;
  border: none;
  background: none;
}
.profile-heading {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0 !important;
  color: #536485;
}
.settings-button {
  width: 20px;
  height: 20px;
  animation: rotatelogo 5s linear infinite;
  cursor: pointer;
}
@keyframes rotatelogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
