.header-div {
  position: fixed;
  z-index: 99;
  width: calc(100% - 75.24px);
  top: 0;
}
.header-area {
  padding: 13px 30px;
  max-height: 60px;
}
.bars {
  cursor: pointer;
}
.search-input input {
  border: 1px solid #111c43;
  border-radius: 10px 0 0 10px;
}
.search-button button {
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #111c43;
  color: white;
  border: 1px solid #8f69e1;
}
.header-content-right {
  color: #536485;
}
.header-content-right i {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  color: #536485;
}
.header-content-right i:hover {
  background-color: #23b7e5;
  color: #ffffff !important;
}

.country-image img {
  height: 1.35rem;
  width: 1.75rem;
}

.header-profile {
  cursor: pointer;
}
.profile-heading {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0 !important;
  color: #536485;
}
.header-profile-image img {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  position: relative;
  border-radius: 50%;
}
.profile-list {
  position: absolute;
  background-color: #1d284d;
  top: 60px;
  border-radius: 11px;
  padding: 10px 10px;
}
.profile-list ul {
  border-radius: 10px;
}
.profile-list li {
  border: 1px solid #536485;
  background-color: #8f69e1;
  padding: 3px 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
}
.profile-list li:hover {
  background-color: #23b7e5;
  color: white;
}
.profile-list-item {
  font-size: 13px;
}

.settings-button {
  width: 20px;
  height: 20px;
  animation: rotatelogo 5s linear infinite;
  cursor: pointer;
}

@keyframes rotatelogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 991) {
  .header-div {
    width: 100% !important;
  }
  .header-profile .profile-text {
    text-align: center;
  }
}
