.sidebar-container {
  display: flex;
  height: 100%;
  position: relative;
}

.sidebar {
  color: #ffffff;
  max-width: 240px;
  z-index: 333;
  overflow-y: auto;
  position: fixed;
  height: 100%;
  padding-bottom: 60px;
}
.sidebar::-webkit-scrollbar {
  width: 0.2rem;
  height: 30px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #8f69e1;
  height: 30px;
  border-radius: 5px;
}
.sidebar.absolute {
  position: fixed;
  height: 100%;
}

.top-side {
  display: flex;
  justify-content: center;
  padding: 14px 0;
  border-bottom: 1px solid #313335;
  border-right: 1px solid #313335;
  margin-bottom: 8px;
  max-height: 60px;
  position: fixed;
  background-color: #111c43;
  z-index: 999;
}

.logo {
  height: 32px;
  width: auto;
  position: relative;
}
.bottom-side-container {
  margin-top: 60px;
}
.bottom-side {
  padding: 0px 12px;
}
.icon {
  font-size: 1.15rem;
  position: relative;
}
.side-heading p {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.065rem;
  color: #49547a;
  padding: 12px 12px;
}
.link {
  border-radius: 8px;
  cursor: pointer;
}
.link:hover {
  background-color: #1d284d;
}
.link.active {
  background-color: #1d284d;
}

.link-text {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 18px;
  font-size: 1.15rem;
  font-weight: 600;
}
.dropdown {
  font-size: 12px;
}

.subitem {
  border-radius: 10px;
}
.subitem:hover {
  background-color: #1d284d;
}
.main-area {
  background-color: #f0f1f7;
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

@media (max-width: 991px) {
  .top-side {
    position: static;
  }
  .bottom-side-container {
    margin-top: 0;
  }
}
