* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}
.crm-container {
  padding: 0 30px;
}
ul {
  margin-bottom: 0 !important;
}
p {
  margin-bottom: 0 !important;
  font-size: 10px;
  color: #8c99bc;
}
.project-container {
  padding: 0 30px;
}
.light {
  --var-side-bg: #111c43;
  --var-main-color: #f0f1f7;
  --var-header-bg: #ffffff;
  --var-bar-bg: #252729;
  --var-text-color: #8c99bc;
  --var-heading-color: #333335;
  --var-card-bg: #ffffff;
}
.dark {
  --var-main-color: #252729;
  --var-side-bg: #1a1c1e;
  --var-header-bg: #1a1c1e;
  --var-bar-bg: #a3a4a5;
  --var-text-color: #929280;
  --var-heading-color: #086666;
  --var-card-bg: #d8d8d5;
  --bs-body-bg: #8c99bc;
  --bs-table-color-state: #8c99bc;
}

main {
  background-color: var(--var-main-color) !important;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--var-heading-color) !important;
}
p {
  color: var(--var-text-color);
}

.sidebar {
  background-color: var(--var-side-bg) !important;
}
.header-area {
  background-color: var(--var-header-bg);
}
.bars {
  color: var(--var-bar-bg);
}
.card {
  background-color: var(--var-card-bg) !important;
  color: var(--var-card-color);
}
table {
  background-color: var(--bs-body-bg) !important;
}
input,
textarea,
select {
  background-color: var(--bs-table-color-state) !important;
}
@media (max-width: 991px) {
  .crm-container {
    padding: 0 15px !important;
  }
  .project-container {
    padding: 0 10px;
  }
}
